{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="32x32">
    <link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>Swahiliflx</title>

</head>
<body>
<!-- sign in -->
<div class="sign section--bg">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- authorization form -->
                    <form action="#" class="sign__form" method="post">
                        {% csrf_token %}
                        <a href="{% url 'index' %}" class="sign__logo">
                            <img src="{% static 'img/logo/logo.png' %}" alt="logo">
                        </a>
                        {% if messages %}
                            {% for message in messages %}
                                <div style="color:white" class="container mt-3 message alert alert-{{ message }} text-center">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        <div class="sign__group">
                            <input type="email" class="sign__input" name="email" placeholder="Email" required>
                        </div>

                        <div class="sign__group sign__group--checkbox">
                            <input id="remember" name="remember" type="checkbox" checked="checked">
                            <label for="remember">I agree to the <a href="#">Privacy policy</a></label>
                        </div>

                        <button class="sign__btn" type="submit">Send</button>

                        <span class="sign__text">We will send a password to your Email</span>
                    </form>
                    <!-- end authorization form -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end sign in -->

<!-- JS -->
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/smooth-scrollbar.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
</body>

</html>