<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>swahiliflx</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
  <h2></h2>
  <input name='username' placeholder='Username, E-mail' type='text'>
  <input class='animated' type='submit' value='Submit'>
  <a class='forgot' href='login.html'>Already have an account?</a>

<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
