{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>swahiliflix</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
    <h2>Login</h2>
    <form action="" method="post">


        <input name='username' placeholder='Username, E-mail' type='text'>
        <input id='pw' name='password' placeholder='Password' type='password'>
        <div class='agree'>
            <a class='forgot' href='forget.html'>Forget Password</a>
        </div>
        <input class='animated' type='submit' value='Login'>
        <a class='forgot' href="{% url 'register' %}">I don't have an account?</a>
    </form>
</div>
<!-- partial -->
<script src=""></script>

</body>
</html>
