{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="32x32">
    <link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>Swahiliflx</title>

</head>
<body>
<!-- sign in -->
<div class="sign section--bg" data-bg="{% static 'img/bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">

                    <!-- authorization form -->
                    <form action="#" method="POST" enctype="multipart/form" class="sign__form">
                        {% csrf_token %}
                        <a href="{% url 'index' %}" class="sign__logo">
                            <img src="{% static 'img/logo/logo.png' %}" alt="logo">
                        </a>

                        {% for msges in messages %}

                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <p style="color:white"><strong>Hello!</strong>
                                    {{ msges }}</p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        {% endfor %}
                        <h1>change password</h1>


                        <div class="sign__group">
                            <input type="password" name="password1" class="sign__input" placeholder="new password"
                                   required>
                        </div>

                        <div class="sign__group">
                            <input type="password" name="password2" class="sign__input" placeholder="Confirm password"
                                   required>
                        </div>


                        <input class="sign__btn" name="btn" value="change password" type="submit">

                    </form>
                    <!-- end authorization form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end sign in -->

<!-- JS -->
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/smooth-scrollbar.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
</body>

</html>