

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>swahiliflix</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
    <h2>Register</h2>
    <form action="" method="post">
        {% csrf_token %}
    <input name='username' placeholder='Username' type='text'>
    <input name='email' placeholder='E-Mail' type='text'>
    <input id='pw' name='password1' placeholder='Password' type='password'>
    <input id='pw' name='password2' placeholder='Comfirm Password' type='password'>
    <div class='agree'>
        <input id='agree' name='agree' type='checkbox'>
        <label for='agree'></label>Accept rules and conditions
    </div>
    <input class='animated' type='submit' value='Register'>
    <a class='forgot' href="{% url 'login'%}">Already have an account?</a>
    </form>
</div>
<!-- partial -->
<script src=""></script>

</body>
</html>
