/*----------------------------------------
[Master Stylesheet]

Project:	FlixTV HTML Template
Version:	1.0
Primary use:	FlixTV Admin Template
----------------------------------------*/
/*----------------------------------------
[Table of contents]

1. Fonts
2. Common styles
3. Header
4. Sidebar
5. Main
6. Stats
7. Dashbox
8. Filter
9. Paginator
10. Form
11. Profile
12. Comments
13. Reviews
14. Sign
15. Page 404
16. Modal
17. Select2
18. Scrollbar-track
----------------------------------------*/
/*==============================
	Fonts
==============================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&amp;family=Rubik:ital,wght@0,300;0,400;0,500;1,400&amp;display=swap");
/*==============================
	Common styles
==============================*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
  overflow-y: hidden;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #0C1E28;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 0.5s ease;
  transition-property: color, background-color, border-color;
  cursor: pointer;
}
button:focus {
  outline: none;
}
a {
  transition: 0.5s ease;
  transition-property: color, background-color, border-color;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
input,
textarea,
select {
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-shadow: none;
  transition: 0.5s ease;
  transition-property: color, border-color;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
::-moz-selection {
  background: #fff;
  color: #151f30;
  text-shadow: none;
}
::selection {
  background: #fff;
  color: #151f30;
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: #f2f2f2;
  opacity: 1;
}
::-moz-placeholder {
  color: #f2f2f2;
  opacity: 1;
}
:-moz-placeholder {
  color: #f2f2f2;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #f2f2f2;
  opacity: 1;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: #151f30;
}
body::-webkit-scrollbar-thumb {
  /*background-color: #2f80ed;*/
  outline: 1px solid #151f30;
}
.tab-content {
  width: 100%;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.fade {
  transition: opacity 0.4s linear;
}
@media screen and (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.collapse:not(.show) {
  display: none;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}
@media screen and (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
/*==============================


/*==============================
	Form
==============================*/
.form {
  background-color: #131720;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid rgba(47,128,237,0.1);
}
.form .row {
  margin-right: -10px;
  margin-left: -10px;
}
.form [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}
.form__group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
.form__group--link:before {
  content: '';
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 0;
  height: 44px;
  width: 24px;
  background: url("../img/link.svg") no-repeat center center;
  background-size: 20px auto;
  z-index: 1;
}
.form__input {
  background-color: #151f30;
  border: 1px  #e4d804;
  border-radius: 16px;
  height: 44px;
  position: relative;
  color: #fff;
  font-size: 14px;
  width: 100%;
  /*padding: 0 20px;*/
}
.form__input:focus {
  background-color: #151f30;
  border-color: #e4d804;
}
.form__textarea {
  background-color: #151f30;
  border: 1px solid transparent;
  border-radius: 16px;
  height: 142px;
  position: relative;
  color: #fff;
  font-size: 14px;
  width: 100%;
  padding: 15px 20px;
  resize: none;
}
.form__textarea:focus {
  background-color: #151f30;
  border-color: #e4d804;
}
.form__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 16px;
  background-color: #e4d804;
  font-size: 14px;
  color: #e0e0e0;
  text-transform: uppercase;
  font-weight: 500;
}
.form__btn:hover {
  color: #151f30;
  background-color: #fff;
}
.form__radio {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.form__radio li {
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}
.form__radio li:last-child {
  margin-right: 0;
}
.form__radio span {
  font-size: 14px;
  color: #e0e0e0;
}
.form__radio input:not(:checked),
.form__radio input:checked {
  position: absolute;
  left: -9999px;
}
.form__radio label {
  display: block;
  margin: 0;
  position: relative;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  color: #e0e0e0;
  line-height: 24px;
  padding-left: 25px;
  transition: 0.5s;
}
.form__radio label:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 4px solid rgba(47,128,237,0.5);
  background-color: transparent;
  border-radius: 50%;
  left: 0;
  top: 4px;
  transition: 0.5s;
}
.form__radio input:checked + label {
  color: #fff;
}
.form__radio input:checked + label:before {
  border-color: #e4d804;
}
.form__video {
  position: relative;
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 16px;
  overflow: hidden;
}
.form__video input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  z-index: 1;
}
.form__video label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 44px;
  color: #e0e0e0;
  padding: 0 60px 0 20px;
  background-color: #151f30;
  margin: 0;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
}
.form__video label:before {
  content: '';
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 0;
  height: 44px;
  width: 24px;
  background: url("../img/video.svg") no-repeat center center;
  background-size: 24px auto;
}
.form__video label:hover {
  color: #fff;
}
.form__gallery {
  position: relative;
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 16px;
}
.form__gallery input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  z-index: 1;
}
.form__gallery label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 44px;
  color: #e0e0e0;
  padding: 0 60px 0 20px;
  background-color: #151f30;
  margin: 0;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
}
.form__gallery label:before {
  content: '';
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 0;
  height: 44px;
  width: 20px;
  background: url("../img/img.svg") no-repeat center center;
  background-size: 20px auto;
}
.form__gallery label:hover {
  color: #fff;
}
.form__img {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: #151f30;
  margin-bottom: 20px;
  border-radius: 16px;
  overflow: hidden;
}
.form__img input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
.form__img label {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  color: #e0e0e0;
  transition: 0.5s;
}
.form__img label:hover {
  color: #fff;
}
.form__img img {
  position: absolute;
  z-index: 1;
  top: -100px;
  right: -100px;
  bottom: -100px;
  left: -100px;
  margin: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .form__cover {
    -ms-flex: 0 0 290px;
    flex: 0 0 290px;
    max-width: 290px;
  }
  .form__content {
    -ms-flex: 0 0 calc(100% - 290px);
    flex: 0 0 calc(100% - 290px);
    max-width: 100%;
  }
  .form__btn {
    width: 180px;
  }
}

/*==============================
	Sign
==============================*/
.sign {
  display: block;
  position: relative;
}
.sign__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 40px 0;
}
.sign__form {
  background-color: #0c1e28;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 30px 20px;
  position: relative;
  width: 100%;
  max-width: 400px;
  border: 1px solid #e4d804;
}
.sign__form--profile {
  margin-top: 20px;
  max-width: 100%;
  padding: 20px 20px 5px;
}
.sign__form--profile .row {
  margin-left: -10px;
  margin-right: -10px;
}
.sign__form--profile .col-12 {
  padding-left: 10px;
  padding-right: 10px;
}
.sign__form--profile .sign__btn {
  margin: 5px 0 15px;
}
.sign__form--first {
  margin-top: 0;
}
.sign__logo {
  display: block;
  margin-bottom: 30px;
}
.sign__logo a {
  max-width: 100%;
  width: auto;
}
.sign__logo img {
  width: 90px;
}
.sign__title {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  margin-bottom: 20px;
}
.sign__label {
  font-weight: 400;
  font-size: 14px;
  color: #e0e0e0;
  margin-bottom: 5px;
}
.sign__input {
  background-color: #0c1e28;
  /*border: 1px;*/
  border-color: #e4d804;
  border-radius: 16px;
  height: 44px;
  position: relative;
  color: #fff;
  font-size: 14px;
  width: 100%;
  text-align: center;
  /*padding: 0 20px;*/
}
::placeholder{
  text-align: center;
  /*color: #e4d804;*/
}
.sign__input:focus {
  background-color: #151f30;
  border-color: #e4d804;
}
.sign__textarea {
  background-color: #151f30;
  border: 1px solid transparent;
  border-radius: 16px;
  height: 144px;
  position: relative;
  color: #fff;
  font-size: 14px;
  width: 100%;
  padding: 15px 20px;
  resize: none;
}
.sign__textarea:focus {
  background-color: #151f30;
  border-color: #e4d804;
}
.sign__group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
.sign__group--checkbox {
  width: 100%;
  text-align: left;
}
.sign__group--checkbox input:not(:checked),
.sign__group--checkbox input:checked {
  position: absolute;
  left: -9999px;
}
.sign__group--checkbox input:not(:checked) + label,
.sign__group--checkbox input:checked + label {
  font-size: 14px;
  color: #e0e0e0;
  font-weight: normal;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  line-height: 22px;
  margin: 0;
}
.sign__group--checkbox input:not(:checked) + label a,
.sign__group--checkbox input:checked + label a {
  color: #e4d804;
}
.sign__group--checkbox input:not(:checked) + label a:hover,
.sign__group--checkbox input:checked + label a:hover {
  color: #e4d804;
  text-decoration: underline;
}
.sign__group--checkbox input:not(:checked) + label:before,
.sign__group--checkbox input:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  background-color: #0c1e28;
  border-color: #e4d804;
  border-radius: 8px;
}
.sign__group--checkbox input:not(:checked) + label:after,
.sign__group--checkbox input:checked + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  text-align: center;
  transition: 0.5s;
  background: url("../img/checkmark.gif") no-repeat center/12px auto;
  border-color: #e4d804;
  border-radius: 8px;
}
.sign__group--checkbox input:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.sign__group--checkbox input:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.sign__group--checkbox label::-moz-selection {
  background: transparent;
  color: #e0e0e0;
}
.sign__group--checkbox label::selection {
  background: transparent;
  color: #e0e0e0;
}
.sign__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  width: 100%;
  height: 50px;
  border-radius: 16px;
  background-color: #e4d804;
  border-color: #e4d804;
  font-size: 14px;
  color: #0c1e28;
  text-transform: uppercase;
  font-weight: 500;
}
.sign__btn:hover {
  color: #e4d804;
  background-color: #0c1e28;
}
.sign__text {
  margin-top: 15px;
  font-size: 14px;
  color: #e0e0e0;
}
.sign__text a {
  position: relative;
  color: #e4d804;
}
.sign__text a:hover {
  color: #e4d804;
  text-decoration: underline;
}
.sign__delimiter {
  font-size: 14px;
  color: #e0e0e0;
  line-height: 100%;
}

.sign__wrap {
  background-color: #151f30;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 30px;
}
.sign__wrap .row {
  margin-left: -10px;
  margin-right: -10px;
}
.sign__wrap .col-12 {
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 576px) {
  .sign__form {
    padding: 40px;
  }
  .sign__form--profile {
    padding: 20px 20px 5px;
  }
  .sign__logo {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .sign__form--first {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .sign__form--profile {
    margin-top: 0;
  }
  .sign__form--profile .sign__btn {
    width: 180px;
  }
}
